**/.DS_Store
**/.fragment
*.txt
*.bat
*.fragment
*.scr
folderlink.htm
foldermap.htm
footer.html
footer.htm
footer.segment
*.png
*.jpg
*.jpeg
**/Slide100/
**/Slide180/
**/Slide200/
**/Slide300/
**/Slide400/
**/Slide500/
**/Slide600/
**/Slide700/
**/Slide800/
**/Slide900/
**/Slide1000/
**/Slide1100/
**/Slide1200/
Slide1200
Slide1100
Slide1000
Slide900
Slide800
Slide700
Slide600
Slide500
Slide400
Slide300
Slide200
Slide180
Slide100
